<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <ul class="messages"></ul>
    <form class="message-form">
        <input type="text">
        <button>Send</button>
    </form>
    <div class="nick-enter-modal">
        <form class="nick-enter-form">
            <h1>Please enter your nick</h1>
            <input type="text" class="nick-input"><br>
            <button>Enter</button>
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/index.js"></script>
</body>
</html>